# Summary
details the creation of Rush hour and City Labels

In [54]:
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import sys
import shapely
import shapely.wkt
import datetime
import pandas as pd
sys.path.append('../../../Scripts/') # link to scripts
import utils.spatial_utils
%matplotlib inline

In [2]:
CAN_LAM = {'init':'epsg:3347'}

In [3]:
# path to the preprocessed MTL Trajet data 
path_2016 = "../../../Data/mtl_trajet/mtl_trajet_2016_translated.shp"
path_2017 = "../../../Data/mtl_trajet/mtl_trajet_2017_translated.shp"

In [4]:
gdf_2016 = gpd.read_file(path_2016)
gdf_2017 = gpd.read_file(path_2017)

# Downtown

In [5]:
## downtown
mtl_regions = gpd.read_file('../../../Data/shapes/mtl_regions.json')
city_of_montreal = mtl_regions.loc[(mtl_regions.AIRE > 0) & (mtl_regions.TYPE == 'Arrondissement')]

## Get start and end points

In [6]:
%%time
## calculate start and end points (WGS84)
gdf_2016 = gdf_2016.to_crs(crs={'init':'epsg:4326'})
gdf_2016['start_wgs'] =  gdf_2016.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=0) 
gdf_2016['end_wgs'] =  gdf_2016.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=-1) 

## calculate start and end points (Canada Lambert)
gdf_2016 = gdf_2016.to_crs(CAN_LAM)
gdf_2016['start_can'] =  gdf_2016.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=0) 
gdf_2016['end_can'] =  gdf_2016.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=-1) 


## calculate start and end points (WGS84)
gdf_2017 = gdf_2017.to_crs(crs={'init':'epsg:4326'})
gdf_2017['start_wgs'] =  gdf_2017.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=0) 
gdf_2017['end_wgs'] =  gdf_2017.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=-1) 

## calculate start and end points (Canada Lambert)
gdf_2017 = gdf_2017.to_crs(CAN_LAM)
gdf_2017['start_can'] =  gdf_2017.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=0) 
gdf_2017['end_can'] =  gdf_2017.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=-1)

CPU times: user 35min 38s, sys: 34.9 s, total: 36min 13s
Wall time: 39min 18s

In [44]:
%%time
# convert the point columns back into a Point class
gdf_2016['start_wgs'] = gdf_2016['start_wgs'].apply(shapely.geometry.Point)
gdf_2016['start_can'] = gdf_2016['start_can'].apply(shapely.geometry.Point)
gdf_2016['end_wgs'] = gdf_2016['end_wgs'].apply(shapely.geometry.Point)
gdf_2016['end_can'] = gdf_2016['end_can'].apply(shapely.geometry.Point)

gdf_2017['start_wgs'] = gdf_2017['start_wgs'].apply(shapely.geometry.Point)
gdf_2017['start_can'] = gdf_2017['start_can'].apply(shapely.geometry.Point)
gdf_2017['end_wgs'] = gdf_2017['end_wgs'].apply(shapely.geometry.Point)
gdf_2017['end_can'] = gdf_2017['end_can'].apply(shapely.geometry.Point)

CPU times: user 17 s, sys: 1.37 s, total: 18.4 s
Wall time: 19.9 s

In [45]:
%%time
gdf_2016['start_downtown'] = gdf_2016['start_can'].apply(lambda row: any(city_of_montreal.intersects(row)))
gdf_2016['end_downtown'] = gdf_2016['end_can'].apply(lambda row: any(city_of_montreal.intersects(row)))

gdf_2017['start_downtown'] = gdf_2017['start_can'].apply(lambda row: any(city_of_montreal.intersects(row)))
gdf_2017['end_downtown'] = gdf_2017['end_can'].apply(lambda row: any(city_of_montreal.intersects(row)))

CPU times: user 9min 35s, sys: 4.47 s, total: 9min 40s
Wall time: 10min 36s

In [46]:
print(gdf_2016.start_downtown.value_counts())
print(gdf_2016.end_downtown.value_counts())

print(gdf_2017.start_downtown.value_counts())
print(gdf_2017.end_downtown.value_counts())

True     213076
False     62548
Name: start_downtown, dtype: int64
True     211945
False     63679
Name: end_downtown, dtype: int64
True     159522
False     25763
Name: start_downtown, dtype: int64
True     158477
False     26808
Name: end_downtown, dtype: int64

# Rush hour

In [55]:
if not type(gdf_2016.starttime[0]) == datetime.datetime or not type(gdf_2017.starttime[0]) == datetime.datetime:
    print("converting start and end timestamps to datetime objects")
    gdf_2016['starttime'] = pd.to_datetime(gdf_2016['starttime'])
    gdf_2016['endtime'] = pd.to_datetime(gdf_2016['endtime'])
    gdf_2017['starttime'] = pd.to_datetime(gdf_2017['starttime'])
    gdf_2017['endtime'] = pd.to_datetime(gdf_2017['endtime'])

converting start and end timestamps to datetime objects

In [56]:
gdf_2016['weekday'] = gdf_2016.starttime.apply(lambda dt: dt.dayofweek < 5)
gdf_2017['weekday'] = gdf_2017.starttime.apply(lambda dt: dt.dayofweek < 5)

In [57]:
print(gdf_2016.weekday.value_counts())
print(gdf_2017.weekday.value_counts())

True     211368
False     64256
Name: weekday, dtype: int64
True     137576
False     47709
Name: weekday, dtype: int64

In [58]:
rush_hour_times = {'morning_min':6,'morning_max':10,'evening_min':15, 'evening_max':19}
def rushhour(row):
    """
    function to find out whether trip is in rush hour or not
    """
    start = False
    end = False
    through = False
    if not row.weekday:
        return start, end
    
    if row.starttime.hour >= rush_hour_times['morning_min'] and row.starttime.hour <= rush_hour_times['morning_max']\
    or row.starttime.hour >= rush_hour_times['evening_min'] and row.starttime.hour <= rush_hour_times['evening_max']:
        start = True
    if row.endtime.hour >= rush_hour_times['morning_min'] and row.endtime.hour <= rush_hour_times['morning_max']\
    or row.endtime.hour >= rush_hour_times['evening_min'] and row.endtime.hour <= rush_hour_times['evening_max']:
        end = True
        
    # check if trip passed through rush hours  
    if start and end:
        if row.starttime.hour >= rush_hour_times['morning_min'] and row.endtime.hour <= rush_hour_times['morning_max']\
        or row.starttime.hour >= rush_hour_times['evening_min'] and row.endtime.hour <= rush_hour_times['evening_max']:
            through = True
        
        
    return start, end, through

In [59]:
gdf_2016['stend_rh'] = gdf_2016.apply(rushhour, axis=1)
gdf_2017['stend_rh'] = gdf_2017.apply(rushhour, axis=1)

In [60]:
gdf_rushhour_16 = gdf_2016['stend_rh'].apply(pd.Series)
gdf_rushhour_17 = gdf_2017['stend_rh'].apply(pd.Series)

In [61]:
gdf_rushhour_16.columns = ['startrush', 'endrush', 'thrurush']
gdf_rushhour_17.columns = ['startrush', 'endrush', 'thrurush']

In [62]:
gdf_2016 = pd.concat([gdf_2016, gdf_rushhour_16], axis=1)
gdf_2017 = pd.concat([gdf_2017, gdf_rushhour_17], axis=1)

In [63]:
gdf_2016

,id_trip,avg_speed,duration,mode,purpose,n_coord,segments,starttime,endtime,geometry,...,end_wgs,start_can,end_can,start_downtown,end_downtown,weekday,stend_rh,startrush,endrush,thrurush
0,1724206,4.4,460,walking,returning_home,12,"[{""id"": 1150192, ""source"": ""geobase_mtl""}, {""i...",2016-09-07 20:37:26,2017-09-18 04:16:58,LINESTRING (7628287.236741195 1247680.17623496...,...,POINT (-73.600218484 45.53927656139993),POINT (7628287.236741195 1247680.17623496),POINT (7628055.645262061 1247949.380617326),True,True,True,"(False, False, False)",False,False,False
1,1724208,10.7,2146,combination,work,120,"[{""id"": 1140016, ""source"": ""geobase_mtl""}, {""i...",2016-09-08 07:43:23,2017-09-18 06:17:46,LINESTRING (7627830.069607561 1247172.27553199...,...,POINT (-73.57808240529999 45.49740148689994),POINT (7627830.069607561 1247172.275531994),POINT (7631077.858255229 1243916.893272278),True,True,True,"(True, True, True)",True,True,True
2,1889461,15.4,447,public_transport,leisure,36,"[{""id"": 1390715, ""source"": ""geobase_mtl""}, {""i...",2016-09-08 19:46:14,2017-09-18 09:30:24,LINESTRING (7632055.840015981 1247584.15415876...,...,POINT (-73.5724489686 45.53516780669992),POINT (7632055.840015981 1247584.154158761),POINT (7630297.958008135 1248128.900960694),True,True,True,"(True, True, True)",True,True,True
3,1724219,16.8,591,car,returning_home,45,"[{""id"": 1210250, ""source"": ""geobase_mtl""}, {""i...",2016-09-08 21:41:37,2017-09-18 10:02:50,LINESTRING (7630236.131991105 1247926.25343474...,...,POINT (-73.59958149539999 45.54000781329992),POINT (7630236.131991105 1247926.253434745),POINT (7628080.704474011 1248042.784601376),True,True,True,"(False, True, False)",False,True,False
4,2071985,6.9,279,combination,pick_up_drop_off,12,"[{""id"": 1140287, ""source"": ""geobase_mtl""}, {""i...",2016-09-09 16:49:12,2017-09-18 10:18:40,LINESTRING (7628479.88311419 1247193.386491392...,...,POINT (-73.59568662480001 45.53413090109994),POINT (7628479.88311419 1247193.386491392),POINT (7628564.58366184 1247494.516726829),True,True,True,"(True, True, True)",True,True,True
5,2071991,12.4,844,cycling,food_drink,56,"[{""id"": 1150004, ""source"": ""geobase_mtl""}, {""i...",2016-09-09 18:22:22,2017-09-18 10:42:13,LINESTRING (7628002.075274518 1247761.31724215...,...,POINT (-73.62516750650001 45.53706117749991),POINT (7628002.075274518 1247761.31724215),POINT (7626229.644805726 1247149.931923375),True,True,True,"(True, True, True)",True,True,True
6,1667922,4.2,1211,cycling,food_drink,29,"[{""id"": 1240379, ""source"": ""geobase_mtl""}, {""i...",2016-09-09 23:41:59,2017-09-18 10:47:52,LINESTRING (7628517.528697009 1246292.61362128...,...,POINT (-73.5898306544 45.52093026759992),POINT (7628517.528697009 1246292.613621284),POINT (7629431.778009225 1246198.082987967),True,True,True,"(False, True, False)",False,True,False
7,1667924,3.9,1330,walking,returning_home,29,"[{""id"": 1220168, ""source"": ""geobase_mtl""}, {""i...",2016-09-10 00:10:40,2017-09-18 10:53:49,LINESTRING (7629840.839065068 1246606.40804376...,...,POINT (-73.5739219686 45.53360049689993),POINT (7629840.839065068 1246606.40804376),POINT (7630236.131991105 1247926.253434745),True,True,False,"(False, False)",False,False,NaN
8,2071994,9.8,930,cycling,returning_home,49,"[{""id"": 1120087, ""source"": ""geobase_mtl""}, {""i...",2016-09-09 20:04:18,2017-09-18 10:54:50,LINESTRING (7626472.681291105 1247124.48181703...,...,POINT (-73.600218484 45.53927656139993),POINT (7626472.681291105 1247124.481817035),POINT (7628055.645262061 1247949.380617326),True,True,True,"(False, True, False)",False,True,False
9,2072003,4.8,1266,walking,food_drink,34,"[{""id"": 5640, ""source"": ""reseau_cyclable""}, {""...",2016-09-10 10:29:44,2017-09-18 10:57:01,LINESTRING (7628222.92791587 1247461.407682431...,...,POINT (-73.60437498269999 45.52495198219995),POINT (7628222.92791587 1247461.407682431),POINT (7628197.239168105 1246306.438952793),True,True,False,"(False, False)",False,False,NaN
10,2072007,4.5,603,walking,leisure,16,"[{""id"": 1240255, ""source"": ""geobase_mtl""}, {""i...",2016-09-10 13:06:26,2017-09-18 11:02:21,LINESTRING (7629631.088157225 1245856.46655085...,...,POINT (-73.5848343238 45.51463346979993),POINT (7629631.088157225 1245856.466550855),POINT (7630013.081349939 1245629.212225107),True,True,False,"(False, False)",False,False,NaN
11,2072009,4.9,529,walking,leisure,15,"[{""id"": 1441, ""source"": ""reseau_cyclable""}, {""...",2016-09-10 14:21:56,2017-09-18 11:02:48,LINESTRING (7630255.449387748 1245554.79842293...,...,POINT (-73.5756951413 45.51042742879994),POINT (7630255.449387748 1245554.798422933),POINT (7630842.711953899 1245379.743592907),True,True,False,"(False, False)",False,False,NaN
12,2072019,4.5,735,walking,food_drink,20,"[{""id"": 1260448, ""source"": ""geobase_mtl""}, {""i...",2016-09-10 19:54:20,2017-09-18 11:03:59,LINESTRING (7631522.656542271 1244464.46325983...,...,POINT (-73.5770452515 45.49582929969993),POINT (7631522.656542271 1244464.463259839),POINT (7631207.067194358 1243770.14434139),True,True,False,"(False, False)",False,False,NaN
13,2542944,7.1,446,public_transport,leisure,15,"[{""id"": 1240364, ""source"": ""geobase_mtl""}, {""i...",2016-09-10 23:13:11,2017-09-18 11:14:10,LINESTRING (7628937.284174656 1246257.57582323...,...,POINT (-73.58685037230001 45.51957278249992),POINT (7628937.284174656 1246257.575823238),POINT (7629701.81820631 1246118.21618991),True,True,False,"(False, False)",False,False,NaN
14,2844449,5.8,1594,combination,leisure,42,"[{""id"": 1230348, ""source"": ""geobase_mtl""}, {""i...",2016-09-10 20:36:39,2017-09-18 11:15:15,LINESTRING (7630152.17622152 1247656.475479766...,...,POINT (-73.5961757163 45.52206271239994),POINT (7630152.17622152 1247656.475479766),POINT (7628913.06617567 1246178.022350704),True,True,False,"(False, False)",False,False,NaN
15,2309390,11.0,2454,public_transport,returning_home,36,"[{""id"": 1260421, ""source"": ""geobase_mtl""}, {""i...",2016-09-10 21:05:44,2017-09-18 11:17:04,LINESTRING (7631047.488992855 1243822.98017139...,...,POINT (-73.600218484 45.53927656139993),POINT (7631047.488992855 1243822.98017139),POINT (7628055.645262061 1247949.380617326),True,True,False,"(False, False)",False,False,NaN
16,2072024,4.8,417,public_transport,returning_home,12,"[{""id"": 1140022, ""source"": ""geobase_mtl""}, {""i...",2016-09-10 21:39:41,2017-09-18 11:20:42,LINESTRING (7627939.402325215 1247544.56013184...,...,POINT (-73.600218484 45.53927656139993),POINT (7627939.402325215 1247544.560131841),POINT (7628055.645262061 1247949.380617326),True,True,False,"(False, False)",False,False,NaN
17,2072031,10.0,432,car,shops,23,"[{""id"": 1150009, ""source"": ""geobase_mtl""}, {""i...",2016-09-11 14:12:08,2017-09-18 11:23:36,LINESTRING (7628109.661972424 1248135.01277372...,...,POINT (-73.6057059826 45.53860752639992),POINT (7628109.661972424 1248135.012773723),POINT (7627659.859691625 1247753.821421089),True,True,False,"(False, False)",False,False,NaN
18,2542948,4.8,972,cycling,food_drink,25,"[{""id"": 1230347, ""source"": ""geobase_mtl""}, {""i...",2016-09-11 20:18:12,2017-09-18 11:24:44,LINESTRING (7630152.17622152 1247656.475479766...,...,POINT (-73.5805733152 45.52289497799993),POINT (7630152.17622152 1247656.475479766),POINT (7630072.901954183 1246618.704465324),True,True,False,"(False, False)",False,False,NaN
19,2542951,4.7,811,public_transport,returning_home,22,"[{""id"": 1220042, ""source"": ""geobase_mtl""}, {""i...",2016-09-11 22:09:17,2017-09-18 11:27:38,LINESTRING (7630501.149825594 1247157.78260748...,...,POINT (-73.57457157269999 45.53291761939993),POINT (7630501.149825594 1247157.782607489),POINT (7630208.597506811 1247837.783762883),True,True,False,"(False, False)",False,False,NaN
20,2072040,19.8,137,car,returning_home,14,"[{""id"": 1150031, ""source"": ""geobase_mtl""}, {""i...",2016-09-11 15:07:30,2017-09-18 11:31:56,LINESTRING (7628287.236741195 1247680.17623496...,...,POINT (-73.59958149539999 45.54000781329992),POINT (7628287.236741195 1247680.17623496),POINT (7628080.704474011 1248042.784601376),True,True,False,"(False, False)",False,False,NaN
21,2309581,6.8,1310,car,returning_home,38,"[{""id"": 1150174, ""source"": ""geobase_mtl""}, {""i...",2016-09-11 14:47:57,2017-09-18 11:32:54,LINESTRING (7628055.645262061 1247949.38061732...,...,POINT (-73.59958149539999 45.54000781329992),POINT (7628055.645262061 1247949.380617326),POINT (7628080.704474011 1248042.784601376),True,True,False,"(False, False)",False,False,NaN
22,2072042,15.7,1543,cycling,work,132,"[{""id"": 1140025, ""source"": ""geobase_mtl""}, {""i...",2016-09-12 07:26:29,2017-09-18 11:33:37,LINESTRING (7627972.621401648 1247663.46344990...,...,POINT (-73.57878508960002 45.49667957349994),POINT (7627972.621401648 1247663.463449901),POINT (7631047.491847985 1243822.984309727),True,True,True,"(True, False, False)",True,False,False
23,2072051,13.8,1565,cycling,pick_up_drop_off,116,"[{""id"": 4606, ""source"": ""reseau_cyclable""}, {""...",2016-09-12 16:29:24,2017-09-18 11:34:20,LINESTRING (7631156.647957224 1244190.98478407...,...,POINT (-73.60057592050001 45.53401402309993),POINT (7631156.647957224 1244190.984784071),POINT (7628196.603931847 1247372.076162144),True,True,True,"(True, False, False)",True,False,False
24,2072054,7.2,281,cycling,pick_up_drop_off,12,"[{""id"": 1150032, ""source"": ""geobase_mtl""}, {""i...",2016-09-12 17:11:20,2017-09-18 11:36:48,LINESTRING (7628287.236741195 1247680.17623496...,...,POINT (-73.59958149539999 45.54000781329992),POINT (7628287.236741195 1247680.17623496),POINT (7628080.704474011 1248042.784601376),True,True,True,"(True, False, False)",True,False,False
25,1667928,4.8,739,public_transport,education,15,"[{""id"": 1230345, ""source"": ""geobase_mtl""}, {""i...",2016-09-12 22:54:01,2017-09-18 11:44:21,LINESTRING (7629933.019557888 1246939.75636246...,...,POINT (-73.57457157269999 45.53291761939993),POINT (7629933.019557888 1246939.756362467),POINT (7630208.597506811 1247837.783762883),True,True,True,"(False, False, False)",False,False,False
26,1746130,9.3,2432,public_transport,education,29,"[{""id"": 1260205, ""source"": ""geobase_mtl""}, [{""...",2016-09-12 22:25:48,2017-09-18 11:45:19,LINESTRING (7631265.248213102 1243947.31071615...,...,POINT (-73.57457157269999 45.53291761939993),POINT (7631265.248213102 1243947.310716158),POINT (7630208.597506811 1247837.783762883),True,True,True,"(False, False, False)",False,False,False
27,2884310,9.4,2399,car,returning_home,37,"[{""id"": 1260205, ""source"": ""geobase_mtl""}, [{""...",2016-09-12 22:26:08,2017-09-18 11:45:45,LINESTRING (7631265.248213102 1243947.31071615...,...,POINT (-73.57457157269999 45.53291761939993),POINT (7631265.248213102 1243947.310716158),POINT (7630208.597506811 1247837.783762883),True,True,True,"(False, False, False)",False,False,False
28,3188832,13.1,2050,public_transport,work,20,"[{""id"": 1140022, ""source"": ""geobase_mtl""}, [{""...",2016-09-13 07:16:04,2017-09-18 11:51:02,LINESTRING (7627972.621401648 1247663.46344990...,...,POINT (-73.5787851389 45.49667954549994),POINT (7627972.621401648 1247663.463449901),POINT (7631047.488992855 1243822.98017139),True,True,True,"(True, False, False)",True,False,False
29,3054750,14.3,1443,cycling,pick_up_drop_off,113,"[{""id"": 1260416, ""source"": ""geobase_mtl""}, {""i...",2016-09-13 15:56:06,2017-09-18 11:53:02,LINESTRING (7631156.650591062 1244190.98418660...,...,POINT (-73.59568662480001 45.53413090109994),POINT (7631156.650591062 1244190.984186605),POINT (7628564.58366184 1247494.516726829),True,True,True,"(True, False, False)",True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275594,1485335,3.5,677,None,None,15,"[{""id"": 1261054, ""source"": ""geobase_mtl""}, {""i...",2016-11-04 15:34:40,NaT,LINESTRING (7631502.914132709 1243863.74357935...,...,POINT (-73.5729192723 45.50001181879993),POINT (7631502.914132709 1243863.743579351),POINT (7631387.138918344 1244315.461324397),True,True,True,"(True, False, False)",True,False,False
275595,2903616,60.9,522,None,None,93,"[{""id"": 93046300, ""source"": ""aq_routes_cmm_cli...",2016-10-22 16:29:19,NaT,LINESTRING (7608670.295485238 1253246.42297748...,...,POINT (-73.87351632040001 45.66116358189993),POINT (7608670.295485238 1253246.422977487),POINT (7603430.554683785 1255056.15240215),False,False,False,"(False, False)",False,False,NaN
275596,2858978,32.4,412,None,None,11,"[{""id"": 0, ""source"": ""sÃ©paration temporelle""}...",2016-10-29 16:59:31,NaT,LINESTRING (7621817.568042692 1244461.37768731...,...,POINT (-73.6927151716 45.52826696189993),POINT (7621817.568042692 1244461.377687314),POINT (7621372.740347878 1244686.304709031),True,True,False,"(False, False)",False,False,NaN
275597,2046195,21.5,409,None,None,43,"[{""id"": 1600513, ""source"": ""geobase_mtl""}, {""i...",2016-10-18 12:06:41,NaT,LINESTRING (7627784.132622851 1237868.37623052...,...,POINT (-73.65753214 45.45289542819993),POINT (7627784.132622851 1237868.376230528),POINT (7626450.074962499 1237316.047013015),True,False,True,"(False, False, False)",False,False,False
275598,1627276,15.7,2416,None,None,181,"[{""id"": 1050385, ""source"": ""geobase_mtl""}, {""i...",2016-11-15 17:05:20,NaT,LINESTRING (7623661.726149019 1249301.23711428...,...,POINT (-73.5671767602 45.50981746209995),POINT (7623661.726149019 1249301.23711428),POINT (7631510.11837134 1245505.429737836),True,True,True,"(True, False, False)",True,False,False
275599,2738916,5.9,419,None,None,13,"[{""id"": 1030495, ""source"": ""geobase_mtl""}, {""i...",2016-10-24 09:54:14,NaT,LINESTRING (7622895.212184532 1247909.56603703...,...,POINT (-73.66895691260001 45.55367315739993),POINT (7622895.212184532 1247909.566037034),POINT (7622371.196608449 1247966.710064034),True,True,True,"(True, False, False)",True,False,False
275600,1933324,153.1,2041,None,None,123,"[{""id"": 94525675, ""source"": ""aq_routes_cmm_cli...",2016-11-03 16:32:11,NaT,(LINESTRING (7643963.502170095 1241189.4313698...,...,POINT (-74.02294846460001 45.41516812119993),POINT (7643181.660647793 1237969.500352718),POINT (7599766.114238518 1225110.147292672),False,False,True,"(True, False, False)",True,False,False
275601,1716526,23.1,178,None,None,2,None,2016-10-27 21:05:26,NaT,"LINESTRING (7628998.2496161 1248915.861547604,...",...,POINT (-73.57365456540001 45.54113091559994),POINT (7628998.2496161 1248915.861547604),POINT (7630015.529817867 1248746.771146507),True,True,True,"(False, False, False)",False,False,False
275602,2915493,16.6,443,None,None,24,"[{""id"": 1600614, ""source"": ""geobase_mtl""}, {""i...",2016-11-04 08:00:08,NaT,LINESTRING (7630987.685082458 1239105.86460852...,...,POINT (-73.6089283231 45.46206930339994),POINT (7630987.685082458 1239105.864608528),POINT (7629859.484957136 1239400.247392771),True,True,True,"(True, False, False)",True,False,False
275603,1945209,145.6,508,None,None,52,"[{""id"": 16914, ""source"": ""aq_routes_cmm_clippe...",2016-12-04 20:58:21,NaT,(LINESTRING (7638051.286075352 1242995.7899603...,...,POINT (-73.58376977179999 45.45328447139994),POINT (7638567.721508654 1242498.282002599),POINT (7632056.271118313 1239015.619311617),False,True,False,"(False, False)",False,False,NaN
275604,2003428,45.2,1858,None,None,243,"[{""id"": 94056054, ""source"": ""aq_routes_cmm_cli...",2016-10-24 09:21:18,NaT,LINESTRING (7640577.591579129 1232469.53886794...,...,POINT (-73.5710899044 45.50187733929994),POINT (7640577.591579129 1232469.538867948),POINT (7631466.604098718 1244558.440107649),False,True,True,"(True, False, False)",True,False,False
275605,3586465,16.4,201,None,None,14,"[{""id"": 514977, ""source"": ""aq_routes_cmm_clipp...",2016-10-18 12:30:03,NaT,LINESTRING (7612289.346960267 1248422.61490932...,...,POINT (-73.7860841976 45.58890116179993),POINT (7612289.346960267 1248422.614909324),POINT (7612350.844410364 1249169.18471846),False,False,True,"(False, False, False)",False,False,False
275606,2015561,4.9,597,None,None,17,"[{""id"": 1400480, ""source"": ""geobase_mtl""}, {""i...",2016-10-27 13:29:36,NaT,LINESTRING (7631183.806878263 1249421.22548859...,...,POINT (-73.55503659590001 45.54977725789992),POINT (7631183.806878263 1249421.225488596),POINT (7631153.640125968 1250100.644523192),True,True,True,"(False, False, False)",False,False,False
275607,2047088,7.1,823,None,None,19,"[{""id"": 4008840, ""source"": ""geobase_mtl""}, {""i...",2016-10-25 14:35:03,NaT,LINESTRING (7628125.26304846 1234683.746652329...,...,POINT (-73.6324935999 45.43134548099993),POINT (7628125.26304846 1234683.746652329),POINT (7629045.141144583 1235545.427418935),True,True,True,"(False, False, False)",False,False,False
275608,2029906,56.6,2220,None,None,751,"[{""id"": 8772, ""source"": ""aq_routes_cmm_clipped...",2016-10-27 07:40:08,NaT,LINESTRING (7644526.302448271 1248442.07595487...,...,POINT (-73.5709756211 45.59726598079994),POINT (7644526.302448271 1248442.075954871),POINT (7628423.146153548 1254877.744647486),False,True,True,"(True, False, False)",True,False,False
275609,3471546,7.4,586,None,None,14,"[{""id"": 1350684, ""source"": ""geobase_mtl""}, {""i...",2016-11-22 12:14:06,NaT,LINESTRING (7632139.089618068 1241625.44176871...,...,POINT (-73.56624395439999 45.46731436179993),POINT (7632139.089618068 1241625.441768719),POINT (7632941.749624887 1240928.359157608),True,True,True,"(False, False, False)",False,False,False
275610,1483068,25.7,567,None,None,59,"[{""id"": 0, ""source"": ""none""}, {""id"": 1440609, ...",2016-11-02 08:26:46,NaT,LINESTRING (7631355.852059727 1253999.40315717...,...,POINT (-73.581657636 45.59483051819992),POINT (7631355.852059727 1253999.403157177),POINT (7627690.130878835 1254374.558131044),True,True,True,"(True, False, False)",True,False,False
275611,3601532,17.2,2248,None,None,18,"[[{""id"": 2, ""source"": ""metro""}]]",2016-10-22 10:02:12,NaT,LINESTRING (7631021.094954975 1246338.79879775...,...,POINT (-73.6322416277 45.49333555019992),POINT (7631021.094954975 1246338.798797758),POINT (7627086.534200144 1242260.134473961),True,True,False,"(False, False)",False,False,NaN
275612,1711039,10.7,1509,None,None,31,"[{""id"": 7162, ""source"": ""reseau_cyclable""}, {""...",2016-11-02 08:49:22,NaT,LINESTRING (7630932.482458206 1250029.30905469...,...,POINT (-73.5527997163 45.51804545099993),POINT (7630932.482458206 1250029.309054699),POINT (7632339.98154705 1246719.083259491),True,True,True,"(True, False, False)",True,False,False
275613,2155556,25.6,1786,None,None,144,"[{""id"": 1040211, ""source"": ""geobase_mtl""}, {""i...",2016-11-18 08:42:37,NaT,LINESTRING (7624908.387823112 1247753.21172654...,...,POINT (-73.5849167471 45.61705344929994),POINT (7624908.387823112 1247753.211726546),POINT (7626732.34512605 1256704.477351716),True,True,True,"(True, False, False)",True,False,False
275614,2859000,45.9,90,None,None,4,"[{""id"": 0, ""source"": ""sÃ©paration temporelle""}]",2016-10-30 20:52:36,NaT,LINESTRING (7627848.994766208 1244732.06444386...,...,POINT (-73.62194902980001 45.50473463199992),POINT (7627848.994766208 1244732.064443866),POINT (7627506.028578423 1243724.560872303),True,True,False,"(False, False)",False,False,NaN
275615,2172795,33.6,1353,None,None,170,"[{""id"": 6094, ""source"": ""aq_routes_cmm_clipped...",2016-10-31 07:36:32,NaT,LINESTRING (7634497.069219394 1247998.45035042...,...,POINT (-73.4240212503 45.55444504949994),POINT (7634497.069219394 1247998.450350424),POINT (7640955.175828036 1253563.263917058),False,False,True,"(True, False, False)",True,False,False
275616,3354551,31.8,201,None,None,27,"[{""id"": 23402708, ""source"": ""aq_routes_cmm_cli...",2016-11-07 16:26:58,NaT,LINESTRING (7645475.07019314 1260436.422124278...,...,POINT (-73.33174519569999 45.59914772359993),POINT (7645475.07019314 1260436.422124278),POINT (7646511.807344686 1260487.603031153),False,False,True,"(True, False, False)",True,False,False