In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import shapely
import shapely.wkt as wkt
import sys
sys.path.append('../../../Scripts/') # link to scripts
import preprocessing.translate
import utils.spatial_utils
import utils.temporal_utils

%matplotlib inline

# Load in data

In [2]:
# GLOBALS
CAN_LAM = {'init':'epsg:3347'}

In [3]:
# path to the MTL Trajet data 
path_2016 = "../../../Data/mtl_trajet/mtl_trajet_2016.shp"
path_2017 = "../../../Data/mtl_trajet/trajets_mtl_trajet_2017.shp"

In [4]:
# translate and reproject data (see reprojection_timezone_and_translation notebook for details)
gdf_2016 = preprocessing.translate.translate_data(path_2016)
gdf_2017 = preprocessing.translate.translate_data(path_2017)

# initalise the CRS
if gdf_2016.crs == {}:
    print("initialising crs")
    gdf_2016.crs = {'init': 'epsg:4326'}
    
if gdf_2017.crs == {}:
    print("initialising crs")
    gdf_2017.crs = {'init': 'epsg:4326'}
    
# reproject data
if not gdf_2016.crs == {'init': 'epsg:3347'}:
    gdf_2016 = utils.spatial_utils.change_projection(gdf_2016)
    
if not gdf_2017.crs == {'init': 'epsg:3347'}:
    gdf_2017 = utils.spatial_utils.change_projection(gdf_2017)

initialising crs
translating data
translating data

In [5]:
%%time
## calculate start and end points (Canada Lambert)
gdf_2016 = gdf_2016.to_crs(CAN_LAM)
gdf_2016['start_can'] =  gdf_2016.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=0) 
gdf_2016['end_can'] =  gdf_2016.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=-1) 

gdf_2017 = gdf_2017.to_crs(CAN_LAM)
gdf_2017['start_can'] =  gdf_2017.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=0) 
gdf_2017['end_can'] =  gdf_2017.geometry.apply(utils.spatial_utils.get_point_from_linestring, X=-1)

CPU times: user 15min 24s, sys: 13.4 s, total: 15min 38s
Wall time: 16min 33s

In [6]:
# Montreal Points of interest
mtl_pois = pd.read_csv("../../../Data/supplementary_data/POI/mtl_pois.csv")

# View data

In [7]:
mtl_pois.head()

,venue_id,venue_name,lat,lon,city,address,categories_id,categories_name,verified,checkinsCount,usersCount,tipsCount,postcode
0,4bed60019868a5932e435d46,Pont de l'ÃŽle-aux-Tourtes,45.420522,-73.982794,Vaudreuil-Dorion,Autoroute 40_Vaudreuil-Dorion QC_Canada,4bf58dd8d48988d1df941735,Bridge,False,0,0,0,NaN
1,4d475881f046a1cde64106f6,Harmoni Yoga,45.396776,-73.955805,NaN,Canada,4bf58dd8d48988d102941735,Yoga Studio,False,0,0,0,NaN
2,4c6734ddaebea59333a375d0,Terrasse Vaudreuil Bord De Leau,45.391709,-73.994914,NaN,Canada,56aa371be4b08b9a8d5734c3,Waterfront,False,0,0,0,NaN
3,58a610469c954845fa18c3ba,DÃ©panneur Du Coin,45.395748,-73.957807,Ile-Perrot,100 Grand Blvd_Ile-Perrot QC J7V 4W8_Canada,4d954b0ea243a5684a65b473,Convenience Store,True,0,0,0,J7V 4W8
4,4c9b67fd553cef3bfca5db77,Groupe Sutton - Distinction inc. - Ile Perrot,45.394280,-73.965900,Ile Perrot,"25 boulevard Don Quichotte,_Ile Perrot QC J7V ...",NaN,NaN,True,0,0,0,J7V 7X4

In [8]:
# all categories
mtl_pois['categories_name'].unique()

array(['Bridge', 'Yoga Studio', 'Waterfront', 'Convenience Store', nan,
       'Warehouse Store', 'Hardware Store', 'Grocery Store',
       'Gas Station', 'Automotive Shop', 'Harbor / Marina',
       'Financial or Legal Service', 'Miscellaneous Shop',
       'Fast Food Restaurant', 'Restaurant', 'Arts & Crafts Store',
       'Train', 'Sandwich Place', 'Jewelry Store', 'Greek Restaurant',
       'Video Store', 'Italian Restaurant', 'Pizza Place',
       'Mexican Restaurant', 'Rental Car Location', 'Train Station',
       'Breakfast Spot', 'Japanese Restaurant', 'Pharmacy', 'Coffee Shop',
       'Farm', 'Field', 'High School', 'School', 'Factory',
       'Historic Site', "Dentist's Office", 'Office', 'Post Office',
       'Hotel', 'Veterinarian', 'Real Estate Office', 'Scenic Lookout',
       'Auto Dealership', 'Donut Shop', 'Pet Store', 'Fire Station',
       'College Soccer Field', 'College Gym', 'College Science Building',
       'College Library', 'College Academic Building', 'Lake',
       'Afghan Restaurant', 'College Administrative Building', 'Dog Run',
       'Golf Course', 'City Hall', 'Flower Shop',
       'Residential Building (Apartment / Condo)', 'Building', 'Motel',
       'Laundry Service', 'Medical Center', 'College Lab', 'Boutique',
       'Chiropractor', 'Event Space', 'Hospital', 'Bike Shop',
       'Farmers Market', 'Trail', 'Hostel', 'Elementary School', 'Church',
       'Bank', 'Assisted Living', 'Tech Startup', 'Nail Salon',
       'Storage Facility', 'Hobby Shop', 'Pub', 'Shipping Store',
       'Mountain', 'Boat or Ferry', 'General Entertainment', 'Pool',
       'Camera Store', 'Taxi', 'Shrine', 'Coworking Space', 'Airport',
       'Martial Arts Dojo', 'Bakery', 'Shopping Mall', "Women's Store",
       'Movie Theater', 'Furniture / Home Store', 'Diner', 'Skate Park',
       'Gym / Fitness Center', 'Student Center', 'Road',
       'Sporting Goods Shop', 'Bus Station', 'CafÃ©', 'Gym',
       'Electronics Store', 'Print Shop', 'Plaza', 'Art Gallery', 'Park',
       'Gastropub', "Doctor's Office", 'Toy / Game Store', 'Tennis Court',
       'Spa', 'BBQ Joint', 'Library', 'Salon / Barbershop',
       'Other Great Outdoors', 'Baseball Field', 'Massage Studio',
       'Cosmetics Shop', 'Candy Store', 'Skating Rink', 'Soup Place',
       'Tanning Salon', 'Recycling Facility', 'Bus Line', 'Social Club',
       'Mobile Phone Shop', 'Tattoo Parlor', 'Rental Service',
       'Vape Store', 'Liquor Store', 'Physical Therapist',
       'Advertising Agency', 'Outdoors & Recreation', 'Intersection',
       'Campaign Office', 'Housing Development', 'Mattress Store',
       'Sushi Restaurant', 'Daycare', 'Other Repair Shop', 'Bus Stop',
       'Marijuana Dispensary', 'General College & University',
       'Concert Hall', 'French Restaurant', 'Comfort Food Restaurant',
       'Shop & Service', 'Government Building', 'General Travel',
       'Brewery', 'Fish Market', 'Paper / Office Supplies Store',
       'Health & Beauty Service', 'Food Court', 'Nightlife Spot',
       'Radio Station', 'Luggage Store', 'Sports Club', 'Auto Garage',
       'Courthouse', 'Optical Shop', 'Voting Booth', 'Ice Cream Shop',
       'Police Station', 'IT Services', 'Recruiting Agency', 'Garden',
       'Festival', 'Gift Shop', 'Lingerie Store', 'Zoo', 'Cocktail Bar',
       'Funeral Home', 'Pet Service', 'Discount Store', 'Music School',
       'Athletics & Sports', 'Auto Workshop', 'Meeting Room',
       'Garden Center', 'Parking', 'Bistro', 'Surf Spot', 'Hot Spring',
       'Department Store', 'Playground', 'Caribbean Restaurant',
       'Dry Cleaner', 'Design Studio', 'Water Park', 'Food Truck',
       'Theme Park', 'Travel Agency', 'Supermarket', 'Thai Restaurant',
       'Hockey Arena', 'Music Venue', 'Casino', 'Travel Lounge',
       'Non-Profit', 'Monument / Landmark', 'Bed & Breakfast',
       'Community Center', 'Preschool', 'Butcher', 'Photography Lab',
       'Construction & Landscaping', 'College Rec Center',
       'Cajun / Creole Restaurant', 'Shoe Store', 'Turkish Restaurant',
       'College Technology Building', 'Town Hall', 'Comedy Club',
       'Dessert Shop', 'Falafel Restaurant', 'Latin American Restaurant',
       'Bar', 'Car Wash', 'Cultural Center', 'College Auditorium',
       'American Restaurant', 'Vietnamese Restaurant',
       'Professional & Other Places', 'Pawn Shop', 'Clothing Store',
       'Market', 'Alternative Healer', 'Business Service',
       'Thrift / Vintage Store', 'Herbs & Spices Store',
       'Accessories Store', 'Frame Store', 'Portuguese Restaurant',
       'Deli / Bodega', 'Convention Center', 'Indoor Play Area',
       'Conference Room', 'Big Box Store', 'Food & Drink Shop',
       'Video Game Store', 'Public Art', 'Asian Restaurant',
       'Middle Eastern Restaurant', 'Pastry Shop',
       'Mediterranean Restaurant', 'Distribution Center', 'Sports Bar',
       'Middle School', 'Beer Bar', 'Other Event', 'Bowling Alley',
       'Trade School', 'Karaoke Bar', 'Mosque', 'Lounge', 'Gaming Cafe',
       'Soccer Stadium', 'Swim School', 'Driving School',
       'Tapas Restaurant', 'Tree', 'Mini Golf', "Men's Store",
       'Gourmet Shop', 'Costume Shop', 'Salad Place', 'Bridal Shop',
       'Soccer Field', 'Shoe Repair', 'Burger Joint', 'Beer Store',
       'Hotel Bar', 'Insurance Office', 'ATM', 'Burrito Place',
       'Poutine Place', 'Cheese Shop', 'Motorsports Shop', 'Cupcake Shop',
       'Newsstand', 'Hot Dog Joint', 'Tea Room', 'Sausage Shop',
       'Juice Bar', 'Record Shop', 'Chocolate Shop', 'Kids Store',
       'Eye Doctor', 'Baby Store', 'Lottery Retailer',
       'Vegetarian / Vegan Restaurant', 'Chinese Restaurant', 'Bookstore',
       'Fabric Shop', 'Frozen Yogurt Shop', 'Emergency Room', 'Lawyer',
       'Fraternity House', 'Dance Studio', 'Nursery School',
       'Arts & Entertainment', 'Transportation Service', 'Metro Station',
       'Mental Health Office', 'Indian Restaurant',
       'College & University', 'Light Rail Station', 'Credit Union',
       'Other Nightlife', 'Dive Bar', 'Smoke Shop',
       'Performing Arts Venue', 'Strip Club', 'Laundromat', 'Port',
       'Island', 'Spiritual Center', 'Tailor Shop', 'Tunnel', 'Cruise',
       'Sake Bar', 'College Stadium', 'Business Center', 'Gay Bar',
       'Tourist Information Center', 'Cemetery', 'Medical Lab',
       'Wine Bar', 'Vineyard', 'Stables', 'College Classroom',
       'Racetrack', 'Campground', 'Synagogue', 'Recreation Center',
       'Health Food Store', 'Flea Market', 'Modern European Restaurant',
       'College Quad', 'Football Stadium', 'Museum', 'College Cafeteria',
       'Beach', 'Warehouse', 'Music Store', 'Ski Chalet', 'Ski Area',
       'Science Museum', 'Cafeteria', 'Colombian Restaurant',
       'History Museum', 'Fried Chicken Joint', 'Food Service',
       'Hunting Supply', 'Bagel Shop', 'Gluten-free Restaurant',
       'Moroccan Restaurant', 'Theater', 'Food', 'University',
       'Fruit & Vegetable Store', 'Prison', 'Snack Place',
       'Medical Supply Store', 'Zoo Exhibit', 'Lebanese Restaurant',
       'Winery', 'Private School', 'College Arts Building',
       'College Residence Hall', 'Arcade', 'Steakhouse', 'Hockey Field',
       'Waste Facility', 'Seafood Restaurant', 'Airport Lounge',
       'Outlet Mall', 'Bubble Tea Shop', 'Moving Target',
       'Tennis Stadium', 'Tex-Mex Restaurant', 'Wine Shop',
       'Supplement Shop', 'Stadium', 'Sculpture Garden', 'Event Service',
       'Rock Club', 'Corporate Cafeteria', 'Shopping Plaza',
       'Motorcycle Shop', 'Laboratory', 'Outdoor Supply Store',
       'Rest Area', 'Speakeasy', 'Basketball Court', 'Pool Hall',
       'Nightclub', 'Creperie', 'Currency Exchange', 'Acupuncturist',
       'Amphitheater', 'Beer Garden', 'Resort', 'Military Base',
       'Locksmith', 'Gymnastics Gym', 'Recording Studio', 'Board Shop',
       'Baseball Stadium', 'Wings Joint', 'Lighting Store',
       'EV Charging Station', 'Adult Boutique', 'Organic Grocery',
       'Knitting Store', 'Forest', 'Home Service', 'Temple',
       'Buddhist Temple', 'Plane', 'Tram Station', 'Kingdom Hall',
       'Animal Shelter', 'College Bookstore', 'Indie Theater',
       'Jazz Club', 'Airport Gate', 'Pier', 'Airport Service',
       'Mac & Cheese Joint', 'Hookah Bar', 'Nature Preserve', 'Gym Pool',
       'River', 'Halal Restaurant', 'Bike Rental / Bike Share',
       'German Restaurant', 'Fish & Chips Shop', 'Lighthouse',
       'Taco Place', 'Outdoor Sculpture', 'Fishing Store',
       'New American Restaurant', 'Watch Shop', 'Souvenir Shop',
       'Hotel Pool', 'College Theater', 'Platform', 'Club House',
       'Antique Shop', 'Residence', 'Sikh Temple', 'Korean Restaurant',
       'Community College', 'Multiplex', 'Buffet', 'Rock Climbing Spot',
       'Industrial Estate', 'Gun Range', 'Rafting', 'Fishing Spot',
       'Botanical Garden', 'Law School', 'Track', 'Trailer Park',
       'Vacation Rental', 'Southern / Soul Food Restaurant',
       'College Communications Building', 'Summer Camp', 'Go Kart Track',
       'Czech Restaurant', 'Bath House', 'Paintball Field', 'Pie Shop',
       'Dumpling Restaurant', 'Persian Restaurant', 'Floating Market',
       'Airport Terminal', 'Irish Pub', 'Smoothie Shop',
       'Border Crossing', 'Duty-free Shop', 'Travel & Transport',
       'Curling Ice', 'Whisky Bar', 'Xinjiang Restaurant',
       'Child Care Service', 'Adult Education Center',
       'Theme Park Ride / Attraction', 'Swiss Restaurant', 'Noodle House',
       'Embassy / Consulate', 'Christmas Market', 'Pilates Studio',
       'Roller Rink', 'Maternity Clinic', 'Airport Tram', 'Taxi Stand',
       'Baggage Claim', 'College Football Field', 'Mobility Store',
       'Language School', 'Canal', 'Disc Golf', 'Szechuan Restaurant',
       'Cricket Ground', 'Rehab Center', 'Auditorium', 'Pet CafÃ©',
       'Peruvian Restaurant', 'Used Bookstore', 'Hawaiian Restaurant',
       'Bike Trail', 'Taiwanese Restaurant', 'Theme Restaurant',
       'Egyptian Restaurant', 'African Restaurant', 'Corporate Amenity',
       'Ethiopian Restaurant', 'Exhibit', 'Outdoor Event Space',
       'Street Art', 'Kebab Restaurant', 'Food Stand',
       'Photography Studio', 'Art Studio', 'Medical School',
       'Indie Movie Theater', 'Distillery', 'Boxing Gym',
       'Cambodian Restaurant', 'Music Festival', 'Spanish Restaurant',
       'Sporting Event', 'Well', 'Roof Deck', 'Notary', 'Climbing Gym',
       'Russian Restaurant', 'Polish Restaurant', 'Australian Restaurant',
       'Leather Goods Store', 'Satay Restaurant', 'Brasserie',
       'Jewish Restaurant', 'Argentinian Restaurant', 'Ramen Restaurant',
       'Internet Cafe', 'Malay Restaurant', 'Film Studio',
       'Basketball Stadium', 'Cantonese Restaurant',
       'Pakistani Restaurant', 'Kitchen Supply Store',
       'North Indian Restaurant', 'Outlet Store', 'Brazilian Restaurant',
       'Art Museum', 'Eastern European Restaurant', 'Tibetan Restaurant',
       'Fair', 'Dim Sum Restaurant', 'English Restaurant',
       'Shanghai Restaurant', 'Circus', 'Cycle Studio', 'Dive Spot',
       'Hotpot Restaurant', 'Filipino Restaurant', 'Volleyball Court',
       'Tiki Bar', 'Scandinavian Restaurant', 'Night Market',
       'Sri Lankan Restaurant', 'Souvlaki Shop',
       'College History Building', 'Sorority House', 'Memorial Site',
       'College Engineering Building', 'Pedestrian Plaza',
       'Belgian Restaurant', 'Street Food Gathering', 'Prayer Room',
       'Conference', 'Ballroom', 'Doner Restaurant',
       'South American Restaurant', 'TV Station', 'Track Stadium',
       'Palace', 'Gun Shop', 'College Track', 'College Hockey Rink',
       'Carpet Store', 'Dongbei Restaurant', 'Cooking School',
       'Paella Restaurant', 'Capitol Building', 'Reservoir',
       'College Basketball Court', 'Stationery Store',
       'South Indian Restaurant', 'Racecourse', 'Cuban Restaurant',
       'Fountain', 'Comic Shop', 'Shabu-Shabu Restaurant', 'Convention',
       'Mongolian Restaurant', 'Drugstore', 'Poke Place',
       'Fondue Restaurant', 'Urgent Care Center', 'Champagne Bar',
       'Piano Bar', 'Entertainment Service', 'Country Dance Club',
       'Boat Rental', 'Empanada Restaurant', 'Bay', 'Pop-Up Shop',
       'Castle', 'Indonesian Restaurant', 'Corporate Coffee Shop',
       'Laser Tag', 'Tour Provider', 'Monastery', 'Arepa Restaurant',
       'Salvadoran Restaurant', 'Skate Shop', 'Toll Booth',
       'Burmese Restaurant', 'Perfume Shop', 'Hindu Temple',
       'Planetarium', 'Venezuelan Restaurant', 'College Math Building',
       'Astrologer', 'National Park', 'Street Fair', 'Cave'], dtype=object)

In [9]:
# verified POIs or not
mtl_pois.verified.value_counts()

False    49696
True      5894
Name: verified, dtype: int64

# Begin sub-categorising data

In [10]:
mtl_pois['categories_name'].nunique()

647

In [11]:
sub_categories = ['restaurant','office','school','store','gym','train','library',\
                 'museum', 'stadium','shop','station','hotel','bar','venue','education',\
                 'salon', 'college','farm','pool']
tricky_categories = {'parking':'parking', 'automotive shop': 'automotive shop',\
                    'barbershop':'salon', 'Shop & Service': 'automotive shop',\
                     'college library':'library','pub':'bar', 'public art':'museum',\
                     'police station':'police','theme park':'theme park',\
                    'tv station':'tv station', 'ev charging station':'charging station',\
                    'pharmacy':'shop','hostel':'hotel',\
                    'hotel pool':'pool','hotel bar':'bar','bus line':'station',\
                    'medical center':'healthcare','bakery':'shop','breakfast spot':'restaurant',\
                    'university':'college','general entertainment':'entertainment',\
                    'coworking space':'office','tech startup':'office'}

In [12]:
def categorise_data(row, sub_categories):
    ## returns new category with capitalize
    if str(row).lower() in  tricky_categories.keys():
        return tricky_categories[str(row).lower()].capitalize()
    if 'store' in str(row).lower():
        return 'Shop'
    elif 'place' in str(row).lower() or 'joint' in str(row).lower() or 'caf' in str(row).lower()\
        or 'diner' in str(row).lower():
        return 'Restaurant'
    elif 'health' in str(row).lower() or 'clinic' in str(row).lower() or 'hospital' in str(row).lower():
        return 'Healthcare'
    elif 'church' in str(row).lower() or 'temple' in str(row).lower():
        return 'Religious'
    elif 'spot' in str(row).lower() or 'club' in str(row).lower() or 'boutique' in str(row).lower():
        return 'Entertainment'
    for sub_cat in sub_categories:
        if sub_cat in str(row).lower():
            return sub_cat.capitalize()
    return row

In [13]:
mtl_pois['sub_category'] = mtl_pois['categories_name'].apply(categorise_data, args=(sub_categories,))

In [14]:
mtl_pois['sub_category'].nunique()

304

In [15]:
mtl_pois['sub_category'].value_counts()[:20]

Shop                                        12596
Restaurant                                   7501
Office                                       5155
Station                                      1552
Building                                     1513
Residential Building (Apartment / Condo)     1259
Entertainment                                1013
Bar                                           960
College                                       947
School                                        909
Park                                          902
Automotive shop                               880
Healthcare                                    817
Bank                                          763
Gym                                           708
Bus Stop                                      507
Religious                                     491
Factory                                       476
Road                                          434
Spa                                           313
Name: sub_category, dtype: int64

In [16]:
mtl_pois.loc[mtl_pois.verified == True].sub_category.value_counts()

Shop              2386
Restaurant         912
Station            291
Office             253
Bank               204
                  ...
Plaza                1
Park                 1
Playground           1
Scenic Lookout       1
Casino               1
Name: sub_category, Length: 135, dtype: int64

# Turn data into shapefile

In [120]:
## get only verified for example
ver_mtl_pois = mtl_pois.loc[mtl_pois.verified == True].reset_index()

In [121]:
# Turn lat, lon into Point and make the Geometry
ver_mtl_pois['geometry'] = ver_mtl_pois.apply(lambda row: shapely.geometry.Point(row['lon'],row['lat']), axis=1)
# make GeoDataFrame and change CRS
ver_mtl_pois = gpd.GeoDataFrame(ver_mtl_pois)
ver_mtl_pois.crs = {'init':'epsg:4326'}
ver_mtl_pois = ver_mtl_pois.to_crs(CAN_LAM)

In [122]:
ver_mtl_pois.head(2)

,index,venue_id,venue_name,lat,lon,city,address,categories_id,categories_name,verified,checkinsCount,usersCount,tipsCount,postcode,sub_category,geometry
0,3,58a610469c954845fa18c3ba,DÃ©panneur Du Coin,45.395748,-73.957807,Ile-Perrot,100 Grand Blvd_Ile-Perrot QC J7V 4W8_Canada,4d954b0ea243a5684a65b473,Convenience Store,True,0,0,0,J7V 4W8,Shop,POINT (7605349.690148097 1224440.770473986)
1,4,4c9b67fd553cef3bfca5db77,Groupe Sutton - Distinction inc. - Ile Perrot,45.394280,-73.965900,Ile Perrot,"25 boulevard Don Quichotte,_Ile Perrot QC J7V ...",NaN,NaN,True,0,0,0,J7V 7X4,NaN,POINT (7604777.49044918 1224102.828527567)

# Add buffer of 200 meters

In [123]:
ver_mtl_pois['geometry'] = ver_mtl_pois['geometry'].apply(lambda row: row.buffer(200))

In [124]:
data = gdf_2016.copy()

In [125]:
start_points = gpd.GeoDataFrame(data[['id_trip','start_can']])
start_points = start_points.rename(columns={'start_can':'geometry'})
start_points['geometry'] = start_points['geometry'].apply(lambda row: shapely.geometry.Point(row))

end_points = gpd.GeoDataFrame(data[['id_trip','end_can']])
end_points = end_points.rename(columns={'end_can':'geometry'})
end_points['geometry'] = end_points['geometry'].apply(lambda row: shapely.geometry.Point(row))

# Merge data with buffer

In [126]:
poi_and_end = gpd.sjoin(end_points, ver_mtl_pois, how='left').groupby(['id_trip','sub_category']\
                                                                 ).agg({'sub_category':'count'})

In [127]:
poi_and_end.rename(columns={'sub_category':'count'})

                             count
id_trip sub_category
1435005 Bar                      2
        Design Studio            1
        Gym                      1
        Office                   2
        Rental Car Location      1
...                            ...
3601750 Restaurant               1
        Shop                     3
        Veterinarian             1
3601751 Building                 1
        Train                    1

[593592 rows x 1 columns]

In [128]:
unstacked_pois = poi_and_end.unstack()

In [129]:
unstacked_pois.describe()

             sub_category                                                     \
sub_category          ATM Advertising Agency Alternative Healer  Art Gallery
count         4136.000000        3456.000000               38.0  3862.000000
mean             1.032398           1.066262                1.0     1.076385
std              0.177077           0.248775                0.0     0.265648
min              1.000000           1.000000                1.0     1.000000
25%              1.000000           1.000000                1.0     1.000000
50%              1.000000           1.000000                1.0     1.000000
75%              1.000000           1.000000                1.0     1.000000
max              2.000000           2.000000                1.0     2.000000

                                                                              \
sub_category Assisted Living Athletics & Sports Auto Dealership  Auto Garage
count                   63.0              208.0     3078.000000  5238.000000
mean                     1.0                1.0        1.127355     1.035510
std                      0.0                0.0        0.482410     0.185082
min                      1.0                1.0        1.000000     1.000000
25%                      1.0                1.0        1.000000     1.000000
50%                      1.0                1.0        1.000000     1.000000
75%                      1.0                1.0        1.000000     1.000000
max                      1.0                1.0        5.000000     2.000000

                                            ...                             \
sub_category Automotive shop          Bank  ... Tourist Information Center
count            5441.000000  33235.000000  ...                      844.0
mean                1.045580      1.250128  ...                        1.0
std                 0.229568      0.509691  ...                        0.0
min                 1.000000      1.000000  ...                        1.0
25%                 1.000000      1.000000  ...                        1.0
50%                 1.000000      1.000000  ...                        1.0
75%                 1.000000      1.000000  ...                        1.0
max                 5.000000      4.000000  ...                        1.0

                                                                         \
sub_category   Train Transportation Service Travel Agency Travel Lounge
count         4513.0                    2.0         812.0        1060.0
mean             1.0                    1.0           1.0           1.0
std              0.0                    0.0           0.0           0.0
min              1.0                    1.0           1.0           1.0
25%              1.0                    1.0           1.0           1.0
50%              1.0                    1.0           1.0           1.0
75%              1.0                    1.0           1.0           1.0
max              1.0                    1.0           1.0           1.0


sub_category Tv station        Venue Veterinarian Waste Facility Yoga Studio
count             432.0  2567.000000        614.0           14.0      1189.0
mean                1.0     1.305025          1.0            1.0         1.0
std                 0.0     0.460508          0.0            0.0         0.0
min                 1.0     1.000000          1.0            1.0         1.0
25%                 1.0     1.000000          1.0            1.0         1.0
50%                 1.0     1.000000          1.0            1.0         1.0
75%                 1.0     2.000000          1.0            1.0         1.0
max                 1.0     2.000000          1.0            1.0         1.0

[8 rows x 127 columns]

In [130]:
unstacked_pois = unstacked_pois.fillna(0)['sub_category'].reset_index()

In [131]:
def standardise_num(row):
    if row > 1:
        return 1
    else:
        return 0
    
    
for col in unstacked_pois.columns[1:]:
    unstacked_pois[col] = unstacked_pois[col].apply(standardise_num)

In [132]:
unstacked_pois.describe()

sub_category,id_trip,ATM,Advertising Agency,Alternative Healer,Art Gallery,Assisted Living,Athletics & Sports,Auto Dealership,Auto Garage,Automotive shop,...,Tourist Information Center,Train,Transportation Service,Travel Agency,Travel Lounge,Tv station,Venue,Veterinarian,Waste Facility,Yoga Studio
count,1.685610e+05,168561.000000,168561.000000,168561.0,168561.000000,168561.0,168561.0,168561.000000,168561.000000,168561.000000,...,168561.0,168561.0,168561.0,168561.0,168561.0,168561.0,168561.000000,168561.0,168561.0,168561.0
mean,2.548006e+06,0.000795,0.001359,0.0,0.001750,0.0,0.0,0.001495,0.001103,0.001382,...,0.0,0.0,0.0,0.0,0.0,0.0,0.004645,0.0,0.0,0.0
std,6.370152e+05,0.028184,0.036834,0.0,0.041798,0.0,0.0,0.038637,0.033200,0.037154,...,0.0,0.0,0.0,0.0,0.0,0.0,0.067997,0.0,0.0,0.0
min,1.435005e+06,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
25%,2.006654e+06,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
50%,2.519537e+06,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
75%,3.119455e+06,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
max,3.601751e+06,1.000000,1.000000,0.0,1.000000,0.0,0.0,1.000000,1.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0

In [133]:
unstacked_pois.to_csv('../../../Data/model_inputs/poi_categories_2016.csv', index=False)